[[redirects]]
  from = "/sw.js"
  to = "/sw.js"
  status = 200
  force = true

[[redirects]]
  from = "/workbox-*"
  to = "/workbox-:splat"
  status = 200
  force = true

[[redirects]]
  from = "/src/*"
  to = "/src/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/_astro/*"
  to = "/_astro/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200