@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, night --prefersdark;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

[data-theme] .btn-active {
  @apply btn-primary text-base-100;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.enter-scale {
  @apply opacity-100 scale-100 transition-all duration-200;
}
@starting-style {
  .enter-scale {
    @apply opacity-0 scale-0 ;
  }
}

@keyframes flash {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}

.show-for-a-moment {
    animation: flash 1.5s forwards;
}