---
import Icon from "./Icon.astro";

const { text = "", icon = "",  badgeClass="", id = "" } = Astro.props;
---

<div id={id} class={`badge rounded-sm text-xs px-2 gap-x-1.5 ${badgeClass}`}>
  {icon && <Icon icon={icon} size="14" />}
  <span class="w-fit">{text}</span>
</div>
