---
import Icon from "./Icon.astro";
---

<div class="chat chat-end">
  <div class="chat-image avatar">
    <div class="h-10 w-10 flex-center rounded-full bg-base-200 text-primary">
      <Icon icon="user" size="20" />
    </div>
  </div>
  <div class="chat-bubble text-sm">I hate you!</div>
  <div class="chat-footer opacity-50 flex items-center gap-1">
    <time class="chat-footer text-xs opacity-50">12:46</time>
    <Icon icon="check" size="10" />
  </div>
</div>