---
import Icon from "./Icon.astro";
import IconButton from "./IconButton.astro";
---

<div class="flex items-center gap-3 bg-base-200 rounded-xl px-3 py-2">
  <!-- Avatar -->
  <div class="avatar">
    <div class="h-10 w-10 flex-center rounded-full bg-base-100 text-primary">
      <Icon icon="user" size="20" />
    </div>
  </div>

  <!-- Name & last message -->
  <div class="min-w-0 flex-1 flex flex-col justify-between">
    <div class="text-sm font-bold">Contact Name</div>
    <div class="text-xs opacity-50 truncate">+98 012 345 6789</div>
  </div>

  <!-- Button -->
  <div class="flex justify-end gap-x-1.5 w-fit dropdown">
    <div tabindex="0" role="button">
      <IconButton icon="dots" text="Options" tootipClass="tooltip-bottom" btnClass="btn-circle" />
    </div>
    <div tabindex="0" role="button" class=`tooltip text-xs tooltip-bottom` data-tip="Options"></div>
    <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-36 p-2 shadow-sm text-xs">
      <li>
        <button class="px-2 gap-1.5" data-action="editContact">
          <Icon icon="edit" size="12" />
          Edit Contact
        </button>
      </li>
      <li>
        <button class="px-2 gap-1.5" data-action="deleteContact">
          <Icon icon="clear" size="12" />
          Delete Contact
        </button>
      </li>
      <li>
        <button class="px-2 gap-1.5" data-action="viewEncryption">
          <Icon icon="eye" size="12" />
          View Encryption
        </button>
      </li>
    </ul>
  </div>
</div>
