---
import Icon from "./Icon.astro";
---

<div class="chat chat-start">
  <div class="chat-image avatar">
    <div class="h-10 w-10 flex-center rounded-full bg-base-200 text-primary">
      <Icon icon="user" size="20" />
    </div>
  </div>
  <div class="chat-bubble text-sm">
    You were the Chosen One!
    <br />
    I have the high ground.
  </div>
  <time class="chat-footer text-xs opacity-50">12:45</time>
</div>
