---
import Icon from "./Icon.astro";
import IconButton from "./IconButton.astro";
---

<header class="w-full">
  <div class="flex items-center">
    <span class="flex-none mr-1">
      <svg width="22" height="22" fill="currentColor" class="text-primary">
        <use href="/icons.svg#icon-ghost"></use>
      </svg>
    </span>

    <h1 class="flex-1 text-primary text-lg font-bold">GhostCrypt</h1>

    <IconButton icon="dots" text="Info" size="14" action="infoMain" btnClass="btn-xs btn-circle btn-soft btn-primary hover:text-base-100 flex-none" tootipClass="tooltip-bottom" />
  </div>
</header>
