---
import Header from "./Header.astro";
import Input from "./Input.astro";
import Modal from "./Modal.astro";
import Output from "./Output.astro";
import OutputSettings from "./OutputSettings.astro";
import Passphrase from "./Passphrase.astro";
import Tabs from "./Tabs.astro";
---

<div class="max-w-sm max-sm:w-full h-screen flex-center flex-col justify-between mx-auto gap-4 py-6 max-sm:px-4 select-none relative tab-content" id="homeTab">
  <Header btnAction="infoMain" />
  <div class="w-full flex flex-col gap-3 max-sm:gap-6 enter-scale">
    <Input />
    <OutputSettings />
    <Passphrase />
    <Output />
  </div>
  <Tabs active="home" />

  <Modal id="infoMain" title="How to Use:" i18n="info.title">
    <div class="text-sm">
      <h3 class="font-bold mb-2" data-i18n="info.encrypting">Encrypting:</h3>
      <ul class="list-disc pl-4.5 rtl:pr-4.5">
        <li data-i18n="info.encrypting-1">Set a 5-word passphrase (remember it).</li>
        <li data-i18n="info.encrypting-2">Without it, decryption is impossible.</li>
      </ul>
      <br/>

      <h3 class="font-bold mb-2" data-i18n="info.obfuscation">Obfuscation Layer:</h3>
      <ul class="list-disc pl-4.5 rtl:pr-4.5">
        <li data-i18n="info.obfuscation-1">"Words" layer looks like natural text, it's good for SMS.</li>
        <li data-i18n="info.obfuscation-2">"Compact", "Characters" or "Base64", is better for shorter length output.</li>
      </ul>
      <br/>

      <h3 class="font-bold mb-2" data-i18n="info.decrypting">Decrypting:</h3>
      <ul class="list-disc pl-4.5 rtl:pr-4.5">
        <li data-i18n="info.decrypting-1">Paste the encrypted message, enter the exact passphrase, select the correct obfuscation type, and put the output mode to "Decrypt".</li>
      </ul>
      <br/>
    </div>
  </Modal>
</div>
