---
import Badge from "./Badge.astro";
import IconButton from "./IconButton.astro";

const { label } = Astro.props;
---

<fieldset class="fieldset w-full">
  <div class="flex justify-between text-xs w-full">
    <label for="input" class="label w-fit font-bold">Input:</label>
    <!-- Badge -->
    <span id="inputBadge">
      <Badge text="Copied" id="inputCopiedBadge" badgeClass="badge-success hidden show-for-a-moment" />
      <Badge text="Invalid Passphrase or Settings" id="inputWarningBadge" icon="warning" badgeClass="badge-warning hidden" />
    </span>
  </div>
  <!-- Textarea -->
  <textarea id="input" name="input" class="textarea w-full text-xs" placeholder="Your Message..."></textarea>
  <!-- Button Group -->
  <div class="flex justify-end w-full gap-x-1.5">
    <IconButton icon="clear" text="Clear" action="clearInput" />
    <IconButton icon="copy" text="Copy" action="copyInput" />
    <IconButton icon="paste" text="Paste" action="pasteInput" />
  </div>
</fieldset>
