<fieldset class="fieldset w-full">
  <label for="languageSelect" class="label w-fit font-bold" data-i18n="language.label">Language:</label>
  <select class="select select-sm" id="languageSelect">
    <option value="en" data-i18n="language.en" selected>English</option>
    <option value="fa" data-i18n="language.fa">Persian</option>
  </select>
</fieldset>
