<fieldset class="fieldset w-full">
  <label for="languageSelect" class="label w-fit font-bold">Language:</label>
  <select class="select select-sm" id="languageSelect">
    <option selected>English</option>
    <option>Persian</option>
  </select>
</fieldset>
