---
import Header from "./Header.astro";
import Input from "./Input.astro";
import Output from "./Output.astro";
import OutputSettings from "./OutputSettings.astro";
import Passphrase from "./Passphrase.astro";
import Tabs from "./Tabs.astro";
---

<main class="max-w-sm max-sm:w-full h-screen flex-center flex-col justify-between mx-auto gap-4 py-8 max-sm:p-8 select-none relative">
  <Header />
  <div class="w-full h-auto flex-col gap-8">
    <Input />
    <OutputSettings />
    <Passphrase />
    <Output />
  </div>
  <Tabs />
</main>