---
const { id = "", title = "", i18n = "" } = Astro.props;
---

<dialog id={id} class="modal">
  <!-- Fake backdrop that closes the dialog -->
  <form method="dialog" class="modal-backdrop">
    <button>close</button> <!-- invisible area, just needs to be a dialog-closing control -->
  </form>

  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-3 top-3 rtl:left-3 rtl:right-auto text-primary">✕</button>
    </form>
    <h3 class="text-md font-bold text-primary" data-i18n={i18n}>{title}</h3>
    <hr class="my-5 border-accent" />
    <div class="">
      <slot />
    </div>
  </div>
</dialog>