---
const { id = "", title = "" } = Astro.props;
---

<dialog id={id} class="modal">
  <!-- Fake backdrop that closes the dialog -->
  <form method="dialog" class="modal-backdrop">
    <button>close</button> <!-- invisible area, just needs to be a dialog-closing control -->
  </form>

  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 rtl:left-2 rtl:right-auto">✕</button>
    </form>
    <h3 class="text-md font-bold">{title}</h3>
    <div class="py-4">
      <slot />
    </div>
  </div>
</dialog>