<fieldset class="fieldset w-full">
  <label class="label w-fit font-bold" data-i18n="mode.label">Output Mode:</label>
  <div class="join" id="outputModeSelect">
    <input class="join-item btn btn-sm checked:text-base-100" type="radio" name="mode" value="encrypt" aria-label="Encrypt" data-i18n-aria="mode.encrypt"  checked />
    <input class="join-item btn btn-sm checked:text-base-100" type="radio" name="mode" value="decrypt" aria-label="Decrypt" data-i18n-aria="mode.decrypt" />
  </div>
</fieldset>