<fieldset class="fieldset w-full">
  <label for="obfuscation" class="label w-fit font-bold"> Obfuscation Layer: </label>
  <select class="select select-sm" id="obfuscation">
    <option selected>Hybrid Persian</option>
    <option>Hybrid English</option>
    <option>Compact</option>
    <option>Base64</option>
    <option>Numbers</option>
    <option>Letters</option>
    <option>Emojis</option>
    <option>Dots</option>
  </select>
</fieldset>