<fieldset class="fieldset w-full">
  <label for="mode" class="label w-fit font-bold"> Output Mode: </label>
  <div class="join" id="mode">
    <input class="join-item btn btn-sm" type="radio" name="outputMode" aria-label="Encrypt" checked />
    <input class="join-item btn btn-sm" type="radio" name="outputMode" aria-label="Decrypt" />
  </div>
</fieldset>