<fieldset class="fieldset w-full">
  <label for="obfuscationSelect" class="label w-fit font-bold">Obfuscation Layer:</label>
  <select class="select select-sm" id="obfuscationSelect">
    <option value="hybrid-persian" selected>Hybrid Persian</option>
    <option value="hybrid-english">Hybrid English</option>
    <option value="base64">Base64</option>
    <option value="characters">Characters</option>
    <option value="numbers">Numbers</option>
    <option value="emojis">Emojis</option>
    <option value="dots">Dots</option>
  </select>
</fieldset>