<fieldset class="fieldset w-full">
  <label for="outputMode" class="label w-fit font-bold"> Output Mode: </label>
  <div class="join" id="outputMode">
    <input class="join-item btn btn-sm checked:text-base-100" type="radio" name="outputMode" value="encrypt" aria-label="Encrypt" checked />
    <input class="join-item btn btn-sm checked:text-base-100" type="radio" name="outputMode" value="decrypt" aria-label="Decrypt" />
  </div>
</fieldset>