<fieldset class="fieldset w-full">
  <label for="obfuscationSelect" class="label w-fit font-bold">Obfuscation Layer:</label>
  <select class="select select-sm" id="obfuscationSelect">
    <option selected>Hybrid Persian</option>
    <option>Hybrid English</option>
    <option>Compact Persian</option>
    <option>Compact English</option>
    <option>Base64</option>
    <option>Numbers</option>
    <option>Letters</option>
    <option>Emojis</option>
    <option>Dots</option>
  </select>
</fieldset>