---
import Tab from "./Tab.astro";
---

<div role="tablist" class="tabs tabs-box rounded-full">
  <Tab icon="settings" text="Settings" />
  <Tab icon="home" text="Home" tabClass="tab-active bg-accent" />
  <Tab icon="chat" text="Direct Chat" />
</div>