<div class="tabs tabs-sm tabs-box">
  <input type="radio" name="pageTabs" class="tab" aria-label="Menu" />
  <input type="radio" name="pageTabs" class="tab" aria-label="En/De" checked="checked" />
  <input type="radio" name="pageTabs" class="tab" aria-label="Chat" />
</div>