<fieldset class="fieldset w-full flex">
  <fieldset class="fieldset w-full">
    <label for="themeSelect" class="label w-fit font-bold">Theme:</label>
    <div class="join" id="themeSelect">
      <input class="join-item btn btn-sm checked:text-base-100" type="radio" name="theme" value="light" aria-label="Light" checked />
      <input class="join-item btn btn-sm checked:text-base-100" type="radio" name="theme" value="dark" aria-label="Dark" />
    </div>
  </fieldset>
</fieldset>
