<fieldset class="fieldset w-full flex">
  <fieldset class="fieldset w-full">
    <label for="themeSelect" class="label w-fit font-bold" data-i18n="theme.label">Theme:</label>
    <div class="join" id="themeSelect">
      <input class="join-item btn btn-sm" type="radio" name="theme" value="light" aria-label="Light" data-set-theme="nord" data-act-class="btn-active" data-i18n-aria="theme.light" />
      <input class="join-item btn btn-sm" type="radio" name="theme" value="dark" aria-label="Dark" data-set-theme="night" data-act-class="btn-active" data-i18n-aria="theme.dark" />
    </div>
  </fieldset>
</fieldset>
