---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" dir="ltr" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <title>GhostCrypt</title>
    <script defer type="module" src="/scripts/main.js" is:inline></script>
    <script defer is:inline>
      window.addEventListener("load", () => {
        if ("serviceWorker" in navigator) {
          navigator.serviceWorker
            .register("/sw.js", { type: "module" })
            .then((reg) => {
              console.log("Service worker registered", reg.scope);
            })
            .catch((error) => {
              console.error("Error registering service worker:");
              console.warn(error);
            });
        }
      });
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<!-- Theme logic - https://github.com/saadeghi/theme-change -->
<script is:inline>
  // ☝️ This script prevent the FART effect.
  if (localStorage.getItem("theme") === null) {
    document.documentElement.setAttribute("data-theme", "light");
  } else document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
  // "theme" LocalStorage value is set by the package to remember user preference.
  // The value is checked and applyed before rendering anything.
</script>
<script>
  import { themeChange } from "theme-change";
  themeChange();
  // 👆 you could import the CDN directly instead of these two lines
</script>
