---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" data-theme="nord">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>GhostCrypt</title>
		<script defer type="module" src="/src/scripts/main.js" is:inline></script>
	</head>
	<body>
		<main class="max-w-sm max-sm:w-full h-screen flex-center flex-col justify-between mx-auto gap-4 py-6 max-sm:py-8  max-sm:px-4 select-none relative">
			<slot />
		</main>
	</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>